@import url(https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: Quicksand, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	background-color: #F6EAEE;
	margin: 0px;
}
h1, h2, h3{
	font-family: Playfair, serif;
	color: #901E2E;
}
h1{
	font-style: italic;
}
h2{
	font-size: 35px;
}

a{
	text-decoration: none;
	font-family: Fondamento, serif;
}