.banner{
	background-image: linear-gradient(-225deg, rgba(144,30,46,0.6) 30%, rgba(253,238,221,0.5) 90%), url(../../images/vin-background.png);
	color: #FDEEDD;
	padding: 120px 0px;
	background-size: cover;
	background-position: center;
}
.banner h1{
	font-size: 120px;
	color: #FFDCE6;
	font-weight: lighter;
	margin-bottom: 10px;
}

.banner h2{
	font-family: Playfair, serif;
	color: #FFF8FA;
	font-style: normal;
	opacity: 0.8;
	font-size: 40px; 
	font-weight: lighter;
	margin-top: 20px;
	margin-bottom: 40px;
}

.btn-bordeau{
	font-size: 20px;
}
