.cards{
	display: flex;
	flex-wrap: wrap;
}


.card{
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
	background-color: #FFF8FA;
	border-radius: 6px;
	box-shadow: 0px 10px 30px rgba(144, 30, 46, 0.2);
	margin: 20px;
	flex-basis: 250px;
	flex-grow: 1;
}

.card img{
	width: 150px;
	height: auto;
	border-radius: 6px;
	display: block;
	margin: 0px 10px;
}

.card h3{
	font-size: 30px;
	font-weight: lighter;
	color: #901E2E;
	margin: 0;
	flex: 1;
}

.card a{
	flex-shrink: 0;
}